:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --pink-link: hsl(323, 80%, 62%);
  --card-box-shadow: 0 1.5625rem 1.5625rem hsla(0, 0%, 0%, 0.048);
  --font-family: Outfit, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-gray);
  padding: 5.3rem 1.7rem;
}
main,
footer {
  font: 0.9375rem/1.2 'Outfit', sans-serif;
}

.card {
  background-color: var(--white);
  box-shadow: var(--card-box-shadow);
  border-radius: 1.3em;
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
}

.card__img {
  width: 100%;
  border-radius: 1rem;
  display: block;
}

.card__title {
  width: 90%;
  margin: 1.5rem 0 1rem 0;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.5rem;
}

.card__description {
  color: var(--grayish-blue);
  margin-bottom: 1.5rem;
}

.attribution {
  margin-top: 1.5rem;
  text-align: center;
}

.attribution__link {
  color: var(--pink-link);
  text-decoration: none;
}

@media all and (min-width: 1200px) {
  .card {
    width: 25%;
  }
}
