:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --font-family: Outfit, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: 15px;
  background-color: var(--Light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 70%;
  background-color: hsl(0, 0%, 100%);
  background-color: var(--White);
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

.main__img {
  border-radius: 0.7rem;
  width: 98%;
  margin-bottom: 1.5rem;
}

.main__title {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 23px;
}

.main__text {
  width: 90%;
  margin: auto;
  color: var(--Grayish-blue);
  font-weight: 400;
  font-size: 17px;
}

@media all and (min-width: 1200px) {
  .main {
    width: 25%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
